.site-header .navbar-nav .nav-link {
    color: white;
  }
  .mytop > a{
   padding:20px; 
   margin-left: 10px;
   font-size: 20px;
  }
  
  
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .post-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .post-title {
    color: #444444;
  }
  
  a.post-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .post-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .post-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .post-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .welcome-page {
    background-image: url("https://images.pexels.com/photos/374147/pexels-photo-374147.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;

}

.welcome {
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 22rem;
}

.welcome h1 {
    font-family: 'Bilbo Swash Caps';
    font-size: 150px;
    color: white;
}

.welcome h2 {
    font-family: 'Cinzel';
    font-size: 30px;
    color: white;
}

.welcome a {
    font-family: 'Mukta';
    width: 140px;
}

.welcome a:hover {
    color: white;
}